[["guestbook.md"        "Your First Application"]
 ["repl.md"             "REPL Driven Development"]
 ["profiles.md"         "Application Profiles"]
 ["html_templating.md"  "HTML Templating"]
 ["assets.md"           "Static Assets"]
 ["clojurescript.md"    "ClojureScript"]
 ["routes.md"           "Routing"]
 ["services.md"         "RESTful Services"]
 ["requests.md"         "Request types"]
 ["responses.md"        "Response types"]
 ["websockets.md"       "Websockets"]
 ["middleware.md"       "Middleware"]
 ["sessions_cookies.md" "Sessions and Cookies"]
 ["input_validation.md" "Input Validation"]
 ["security.md"         "Security"]
 ["components.md"       "Component Lifecycle"]
 ["database.md"         "Database Access"]
 ["migrations.md"       "Database Migrations"]
 ["logging.md"          "Logging"]
 ["i18n.md"             "Internationalization"]
 ["testing.md"          "Testing"]
 ["servers.md"          "Server Tuning"]
 ["environment.md"      "Environment Variables"]
 ["deployment.md"       "Deployment"]
 ["useful_libraries.md" "Useful Libraries"]
 ["apps.md"             "Sample Applications"]
 ["upgrading.md"        "Upgrading"]
 ["learning_clojure.md" "Clojure Resources"]]
