{% extends "base.html" %}
{% block content %}
<div class="column column-75">
  <div class="column-wrapper">
    {{content|markdown}}
  </div>
</div>

<div class="column column-25">
  <div class="column-wrapper">
    <h2>Mailing lists</h2>
    <ul>
      <li><a href="https://groups.google.com/forum/?fromgroups#!forum/luminusweb">Luminus</a></li>
      <li><a href="https://groups.google.com/forum/?fromgroups#!forum/clojure">Clojure</a></li>
      <li><a href="https://groups.google.com/forum/?fromgroups#!forum/clojurescript">ClojureScript</a></li>
      <li><a href="https://groups.google.com/forum/?fromgroups#!forum/ring-clojure">Ring</a></li>
    </ul>
    <h2>IRC Channels</h2>
    <ul>
      <li>#luminus</li>
      <li>#clojure</li>
    </ul>
    <p>on irc.freenode.net</p>
  </div>
</div>
{% endblock %}
