html, body {
    margin:0;
    padding:0;
    height:100%;
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.0em;
    text-rendering: optimizeLegibility;
    animation: fadein 0.8s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */

}
#wrap {
    min-height:100%;
    position:relative;
}
header {
    background-color: #5092f4;
    position:absolute;
    z-index:999;

    height: 100px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
#body {
    padding-bottom:60px;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    background: white;
}
footer article {
    display: block;
    width: 960px;
    height: 5px;
    margin: auto;
}

.container {
    max-width: 1200px;
}
.navbar {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0;
}
.nav-row {
    margin: auto;
}
ul.nav {

}
.nav-pills > li > a {
    border-radius: 0;
}

.nav > li {
    margin-top: 25px;
    margin-left: 10px;
}

.nav > li > a {
    color: white;
    font-size: 22px;
    padding: 5px 5px;
    transition: all 0.3s ease-out;
}

.nav > li > a:hover {
    background: none;
    border-bottom: 5px solid #a1defc;
    transition: all 0.3s ease-out;
}
.nav .selected {
    border-bottom: 5px solid #f7f9ff;
}

#logo {

    padding-top: 6px;
}
#logo h1#logo-text {
    margin: 0;
    height: 60px;
}
#logo h1#logo-text a {
    position: absolute;
    margin: 0;
    padding: 0 5px 0 0;
    font: bold 62px 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-Serif;
    letter-spacing: -3px;
    color: white;
    text-decoration: none;

}
#logo h1#logo-text a:hover {
    border: none;
}
#logo h2#slogan {
    position: absolute;
    margin-left: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #eeeeee;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8em;
    font-style: italic;
    letter-spacing: -.3px;
    top: 60px; left: 32px;
}
.page {
    background: #f5f5f9;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;

    box-shadow: 0 0 10px rgba(0,0,0,.25);
}
.sidebar {
    right: 0;
    padding: 10px;
    width: 20%;
    min-width: 200px;
    float: none;
    display: table-cell;
}
.sidebar .selected {
    border-bottom: 5px solid #428bca;
}
.sidebar h2 {
    padding-left: 10px;
}
.sidebar li {
    display: block;
    margin-bottom: 10px;
}
.sidebar a {
    font-size: 1.0em;
}
.sidebar a:hover {
    text-decoration: none;
}
.bookimage {
    width: 150px;
    display: block;
    box-shadow: 5px 5px 3px #ddd;
}

.content h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue-CondensedBold","Open Sans Condensed","Helvetica",sans-serif;
    color: #555;
    margin: 10px 20px 7px 20px;
}
.content h1 {
    font-size: 2.2em;
    font-weight: normal;
    letter-spacing: -2px;
    padding-bottom: 5px;
    border-bottom: 6px solid #1980AF;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 30px;

}
.content h2 {
    font-size: 1.4em;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}
.content h3 {
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: -0.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}
.content h4 {
    font-size: 1.0em;
}

.article {
    margin: 0;
    background: white;
    padding: 30px;
    float: none;
    display: table-cell;
}
.article a {
    font-size: 1.0em;

    text-decoration: none;
    color: #007edf;
    text-shadow: none;
}
.article code {
    color: rgb(58, 113, 113);
    background: none;
}
article {
    background: white;
    padding: 20px;
}

.article pre {
    font-family: 'Inconsolata', monospace; !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 10pt !important;
    background: #FFFFFF; !important;
    border: none;

}
.splash {
    font-size: 1.3em;

}
.splash h1 {
    font-size: 2.4em;
}
.splash h2 {
    font-size: 2.0em;
}
.contributing {
    font-size: 1.1em;
}
.contributing .sidebar ul li {
    display: block;
}
.contributing .sidebar p {
    padding-left: 25px;
}

.shell {
    margin-top: 20px;
    font-size: 16px;
    padding: 0;
    width: 400px;
}

.shell .title {
    font-family: 'Arial', serif;
    text-align: center;
    padding: 5px 0;
    margin: 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 5px 5px #eee;

    background: rgb(235,239,244); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(235,239,244,1) 21%, rgba(235,239,244,1) 21%, rgba(229,229,229,1) 56%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(21%,rgba(235,239,244,1)), color-stop(21%,rgba(235,239,244,1)), color-stop(56%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(235,239,244,1) 21%,rgba(235,239,244,1) 21%,rgba(229,229,229,1) 56%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(235,239,244,1) 21%,rgba(235,239,244,1) 21%,rgba(229,229,229,1) 56%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(235,239,244,1) 21%,rgba(235,239,244,1) 21%,rgba(229,229,229,1) 56%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(235,239,244,1) 21%,rgba(235,239,244,1) 21%,rgba(229,229,229,1) 56%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeff4', endColorstr='#e5e5e5',GradientType=0 );

}
#featured {
    padding-top: 40px;
}
#about {
    font-weight: bold;
    color: #707070;
}
.shell pre {
    padding: 10px;
    color: #fff;
    background-color: #3d3d3d;
    box-shadow: 5px 5px 5px #eee;
}
.shell pre .hljs-number {
    color: #29ff9d;
}
.shell pre span.dir {
    color: #3ecddf;
}

.shell pre span.cmd {
    color: #e1e100;
}
#welcome {
    width: 450px;
}
.fa {
    color: #5092f4;
}
#welcome h3 {
    font-size: 1.6em;
}
#welcome li {
    list-style-type: none;
}
.info {
    width: 380px;
}
.info ul {
    margin-left: 0;
    padding-left: 0;
}
.info li {
    list-style-type: none;
}
.blurb {
    color: gray;
    height: 50px;
    width: 300px;
    margin-bottom: 10px;
}

@media screen and (min-width: 1001px) {
    .show-on-mobile {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .hide-on-mobile {
        display: none;
    }
    .nav > li > a {
        font-size: 2.0em;
        font-weight: bold;
    }
    #main-page {
        padding: 10px;
        font-size: 2.0em;
    }
    .info {
        display: none;
    }
    #body {
        width: 100%;
        margin: 0;
        padding: 0;
        max-width: none;
    }

    .page {
        font-size: 2.0em;
        width: 100%;
        margin: 0;
        padding: 0;
        max-width: none;
    }
}
