/* theme screen stylesheets */

/* import stylesheets and hide from ie/mac \*/
@import url("reset.css");
@import url("FreshPick.css");
/* end import/hide */

.toolbar {
	visibility:hidden;
}

ul li a:link.selected {	
	text-decoration:underline;	
}

ul li a:visited.selected {	
	text-decoration:underline;
}