html, body {
    margin:0;
    padding:0;
    height:100%;
    font-family: Helvetica Neue;
    color: #111;
}
a, a:hover {
    color: black;
    text-decoration: underline;
}
ul a, ol a, ul a:hover, ol a:hover {
    color: #111;
    text-decoration: none;
}
ul a:hover, ol a:hover {
    border-bottom: 1px dotted #111;
}
ul, ol {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    list-style-position:inside;
}
ul {
    list-style: none;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1em;
}
h3 {
    font-size: 1em;
    margin-top: 3em;
}
img {
    max-width: 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 900px;
}
.column {
    float: left;
}
.column-wrapper {
    padding: 2em;
}
.column-75 {
    width: 75%;
}
.column-25 {
    width: 25%;
}
.column-33 {
    width: 33%;
}

header, footer {
    width: 100%;
    overflow: hidden;
    padding: 1em 2em;
}
header {
    background-color: blue;
}
header, header a, header a:hover {
    color: white;
    border-color: white;
}
#header-main {
    overflow: hidden;
}
header h1 {
    margin: 0;
}
#logo {
    float: left;
}
#logo img {
    max-width: 42px;
    vertical-align: middle;
}
#logo a {
    text-decoration: none;
}
header nav {
    float: right;
}
header nav li {
    display: inline;
}
header nav li a {
    display: inline-block;
    padding: 0.5em;
}

.contents {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid #999;
}

#hero {
    text-align: center;
    max-width: 600px;
    margin: 3em auto;
}
#hero h2 {
    font-size: 3em;
}

.show-on-mobile {
    display: none;
}
